@charset "UTF-8";
/*  Обнуление стилей by Stas Bagretsov */
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

main {
  width: 80%;
  margin: 0px 8px;
  padding: 8px;
}

aside {
  width: 20%;
  background-color: bisque;
  height: 400px;
}

section {
  padding: 8px;
}

article {
  border-bottom: 1px solid grey;
}

h1,
.h1 {
  font-size: 24px;
  font-weight: 400;
}

.fs-mini {
  font-size: 8px;
  font-weight: 600;
}

.caps {
  text-transform: uppercase;
}

.nav-list {
  width: 10%;
  height: 400px;
  margin: 0px 8px;
  max-width: 40px;
}

.nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list li {
  margin-bottom: 4px;
}

.nav-list li:not(last-child) {
  margin-bottom: 0px;
}

.nav-list img {
  border: solid 1px black;
}

.nav-list img:hover {
  -webkit-box-shadow: 0px 0px 3px 4px #ffa34d;
  box-shadow: 0px 0px 3px 4px #ffa34d;
}

.big-kboard-review {
  position: relative;
  text-align: center;
}

.big-kboard-review div {
  height: 632px;
}

.big-kboard-review div picture {
  margin: auto;
}

.big-kboard-review div picture img {
  width: 100%;
  max-width: 680px;
  height: auto;
}

.big-kboard-review p {
  color: #565959;
}

.share {
  width: 34px;
  height: 34px;
  background-color: white;
  border: grey solid 1px;
  border-radius: 25px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.photo-preview {
  position: -webkit-sticky;
  position: sticky;
  width: 62.14%;
  height: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px;
  left: 10px;
  margin: 0px 8px;
}

.full-description {
  width: 37.86%;
  height: 1600px;
  margin: 0px 8px;
  font-size: 14px;
}

.feedback {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.stars {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stars img {
  height: 18px;
}

.stars::after {
  content: ">";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 8px;
  color: grey;
}

.ratings {
  border-right: 1px solid grey;
  padding-right: 22px;
}

.fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fl-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fl-r-wr {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fl-c-wr {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */