//base
@import "./base/vars";
@import "./base/nullstyle";
@import "./base/base";

//blocks
@import "./blocks/nav-list";
@import "./blocks/big-kboard-review";
@import "./blocks/photo-preview";


.mini-fs {
    font-size: 8px;
    font-weight: 600;
}

.caps {
    text-transform: uppercase;
}



.full-description {
    width: 42.86%;
    background-color: blue;
    height: 1600px;
    margin: $m;
}

.fl {
    display: flex;
}

.fl-c {
    flex-direction: column;
}

.fl-r-wr {
    flex-wrap: wrap;
}

.fl-c-wr {
    flex-wrap: wrap;
}