//base
@import "./base/vars";
@import "./base/nullstyle";
@import "./base/base";
@import "./base/_typography.scss";

//blocks
@import "./blocks/nav-list";
@import "./blocks/big-kboard-review";
@import "./blocks/photo-preview";
@import "./blocks/full-description";
@import "./blocks/feedback";





.fl {
    display: flex;
}

.fl-c {
    flex-direction: column;
}

.fl-r-wr {
    flex-wrap: wrap;
}

.fl-c-wr {
    flex-wrap: wrap;
}