body {
    max-width: 1440px;
    margin: auto;
    font-family: $ff;
}

main {
    width: 80%;
    margin: $m;
    padding: $p;
}

aside {
    width: 20%;
    background-color: bisque;
    height: 400px;
}

section{
    padding: $p;
}

article{
    border-bottom: 1px solid grey;
    margin-bottom: 4px;
}