body {
    max-width: 1440px;
    margin: auto;
    font-family: $ff;
}

main {
    width: 80%;
    margin: $m;
    padding: $p;
}

aside {
    width: 20%;
    text-align: center;
    margin-top: 8px;
    padding: 8px;
}

section{
    padding: $p;
}

article{
    border-bottom: 1px solid grey;
    margin-bottom: 4px;
}

a{
    text-decoration: none;
    color: #007185;
    &:hover{
        color: crimson;
        text-decoration: underline;
    }
    &:visited{
        text-decoration: none;
    }
}

.price{
    color: crimson;
}