body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Ibarra Real Nova', serif;
}

main {
    width: 87.5%;
    margin: $m;
    padding: $p;
    background-color: grey;
}

aside {
    width: 12.5%;
    background-color: bisque;
    height: 400px;
}