.feedback{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.stars{
    align-items: center;
    picture{
        height: 18px;
    }
    img{
        max-height: 100%;
    }
    &::after{
        content: ">";
        transform: rotate(90deg);
        margin-left: 8px;
        color: grey;
    }
}

.ratings{
    border-right: 1px solid grey;
    padding-right: 22px;
}