.item-details{
    text-align: left;
}

.item-details__points{
    padding: 4px 0px;
    p{
        color: #555;
        span{
            margin-left: 8px;
            @extend %details-bold-text;
        }
    }
}

.item-details-point__row{
    padding: 4px 0px;
}

.item-details-point__btn{
    margin-right: 4px;
    padding: 4px 8px;
    border: 1px dashed #ccc;
    color: #ccc;
    font-weight: 600;
    &:hover{
        color: black;
    }
    &:focus{
        border: 1px solid orange;
        background-color: antiquewhite;
        color: black;
    }
}